[Unit]
Description=Service that runs an HTTP server meant for arbitrary shell execution remotely.
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
Environment="ARGS=%I"
WorkingDirectory=/home/harrison/c2c-visualization
ExecStart=/home/harrison/c2c-visualization/go-shell-run $ARGS
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
